

:root {
  --bg-color: #15202b;
  --blue: #1DA1F2;
  --primary: #E1E1E6;
  --secondary: #828282;
  --white: #FFF;
  --border-color: #2F2F2F;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--white);
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;

  
}

body::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: var(--bg-color);        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: var(--border-color);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid var(--border-color);  /* creates padding around scroll thumb */
}

body, input, textarea, button{
  font: 400 1rem Roboto, sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}
